@using Domain
@model List<Ucesnik>
@{
    ViewData["Title"] = "Učesnici";
}

<a href="@Url.ActionLink("Create", "Ucesnik")">Kreiraj novog učesnika</a>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:orchid">Ime</th>
            <th style="background-color:orchid">Prezime</th>
            <th style="background-color:orchid">Godina studija</th>
            <th style="background-color:orchid">Mesto</th>
            <th style="background-color:orchid">Tim</th>
            <th style="background-color:orchid">Ažuriraj</th>
            <th style="background-color:orchid">Obriši</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ucesnik item in Model)
        {
<tr>
    <td>@item.Ime</td>
    <td>@item.Prezime</td>
    <td>@item.GodinaStudija</td>
    <td>@item.Mesto.NazivMesta</td>
    <td>@item.Tim.NazivTima</td>
    <td><a href="@Url.ActionLink("Edit", "Ucesnik")/@item.UcesnikId">Ažuriraj</a></td>
    <td><a href="@Url.ActionLink("Delete", "Ucesnik")/@item.UcesnikId">Obriši</a></td>
</tr>}


    </tbody>

</table>
