@using Domain
@model List<Ucesnik>

<a href="@Url.ActionLink("Create", "Ucesnik")">Kreiraj novog učesnika</a>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Godina studija</th>
            <th>Mesto</th>
            <th>Tim</th>
            <th>Ažuriraj</th>
            <th>Obriši</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ucesnik item in Model)
        {
<tr>
    <td>@item.Ime</td>
    <td>@item.Prezime</td>
    <td>@item.GodinaStudija</td>
    <td>@item.Mesto.NazivMesta</td>
    <td>@item.Tim.NazivTima</td>
    <td><a href="@Url.ActionLink("Edit", "Ucesnik")/@item.UcesnikId">Ažuriraj</a></td>
    <td><a href="@Url.ActionLink("Delete", "Ucesnik")/@item.UcesnikId">Obriši</a></td>
</tr>}


    </tbody>

</table>
