@using Domain
@model List<Tim>
@{
    ViewData["Title"] = "Timovi";
}
<p><a href="@Url.ActionLink("Create", "Tim")"/>Kreiraj novi tim</a></p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:orchid">Naziv tima</th>
            <th style="background-color:orchid">Fakultet</th>
            <th style="background-color:orchid">Ažuriraj</th>
            <th style="background-color:orchid">Obriši</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tim item in Model)
        {
    <tr>
        <td>@item.NazivTima</td>
        <td>@item.Fakultet</td>
        <td><a href="@Url.ActionLink("Edit", "Tim")/@item.TimId">Ažuriraj</a></td>
        <td><a href="@Url.ActionLink("Delete", "Tim")/@item.TimId">Obriši</a></td>
    </tr>
}


    </tbody>

</table>
